├── node_modules
├── src
    ├── cart
        ├── index.html
        └── checkout.html
    ├── css
        └── style.css
    ├── js
        ├── Alert.mjs
        ├── Cart.mjs
        ├── externalServices.mjs
        ├── main.js
        └── utils.mjs
    ├── public
        ├── images
            ├── .gitkeep
        ├── json
            ├── define.json
        ├── partials
            ├── footer
            └── header
    index.html
├── .editorconfig
├── .eslintrc.json    
├── .gitignore
├── .prettierrc
├── package-lock.json
├── packege.json
└── vite.config.js

pero falta estos archivos:
README.md
dist
